extends ../layouts/default
include ../mixins/question-types

block content
    .container-fluid: .row.show-grid#assessment-mid
        .container
            if path
                .col-sm-8
                    h2 #{path} Path
                .col-sm-4#assessment-label
                    if team
                        h5 #{team.name} Assessment
                if modules && modules.length
                    .col-sm-12
                        ul.nav.nav-pills(role="tablist")
                            - let i = 0
                            each mod in modules
                                if i == active
                                    li.nav-item.active
                                        a.nav-link(href="/assessment?surveyIndex="+i++) #{mod.name}
                                else
                                    li.nav-item
                                        a.nav-link(href="/assessment?surveyIndex="+i++) #{mod.name}
            else
                h2 You haven't been assigned an assessment path yet.
        .container-fluid#assessment-body
            .row
                if modules && modules.length
                    .container
                        .col-sm-8
                            h3 #{modules[active].name}
                            if modules[active].questions
                                +question-form(modules[active].questions, modules[active].id, modules[active].answers)
                            if modules[active].resources
                                h3 Resources
                                iframe(src=modules[active].resources frameborder="0" style="width:100%;height:913px;display:block;padding:0;margin:0")
                if !modules || modules.length == 0
                    p You haven't been assigned any modules 
