extends ../layouts/default

block content
    .container-fluid(style={background: 'white'})
        if team
            h2 #{team} Assessment
            div.jumbotron
                h3 Create an account
                form(method="POST", action="signup", role="form")
                    div.form-group
                        label Password (8+ characters, containing at least one number and capital)
                        input.form-control(type="password", name="password", placeholder="********", required="true", value=formData.password)
                    div.form-group
                        label Confirm Password
                        input.form-control(type="password", name="confirm", placeholder="********", required="true", value=formData.confirm)
                    div.form-group
                        label First Name
                        input.form-control(type="text", name="first", placeholder="First Name", required="true", value=formData.first)
                    div.form-group
                        label Last Name
                        input.form-control(type="text", name="last", placeholder="Last Name", required="true", value=formData.last)
                    div.form-group
                        label Email
                        input.form-control(type="email", name="email", placeholder="Email Address", value=formData.email, required="true")
                    .form-group
                        label Affiliation
                        input.form-control(type="text", name="affiliation", placeholder="Affiliation", value=formData.affiliation)
                    .form-group
                        input.form-control(type="hidden", name="team", value=team, required="true")

                    a.btn.btn-primary(href="/join") < Back
                    button.btn.btn-primary.pull-right.form-group(type="submit") Next >
        else
            h2 You're lost.
            a(href="/") Head back to BCAT