extends ../layouts/default

block content
	script(type='text/javascript').
		jQuery(document).ready(function () {
			$('#daTable').DataTable({
				'paging': false,
				'info': false,
				// by default, order by the Role column in the table
				"order": [[ 3, "asc" ]],
				'filter': false
			});
		})
	.container
		if team
			if isLeader
				.panel.panel-default
					.panel-heading Announcements
					.panel-body
						| Watch this space
					.panel-footer.text-right
						a.leftLink() Create Announcement
						a() View Previous
				.panel.panel-default
					.panel-heading Reporting
					.panel-body
						a(href='/api/export/csv?teamId=' + user.team)
							span.glyphicon.glyphicon-save
						| Export all answers to CSV
					.panel-footer More reporting is coming! 
						a(href='mailto:' ) Contact BCAT 
						| with suggestions or to share your creations.
				.panel.panel-default
					.panel-heading Participant Status
					.panel-body
						.progress
							.progress-bar(role="progressbar", aria-volumemax="100", aria-valuemin="0", aria-valuenow="50", style="width:50%") % Complete
						if members.length
							.table-responsive
								table.table(id="daTable")
									thead
										tr
											th Participant
											th.hidden-xs Affiliation
											th.hidden-xs Role
											th Module Status
											th.hidden-xs Last Activity
											th Actions
									tbody
										each member in members
											tr
												td #{member.name.first} #{member.name.last}

												if member.affiliation
													td.hidden-xs #{member.affiliation}
												else 
													td.hidden-xs None

												if member.roleName
													td.hidden-xs #{member.roleName}
												else
													td.hidden-xs None

												//- Number of assigned/completed modules or N/A if not assigned
												if member.assigned
													if member.completed
														if member.completed !== member.assigned
															td.text-right In Progress (#{member.completed}/#{member.assigned})
														else
															td.text-right Done (#{member.completed}/#{member.assigned})
													else
														td.text-right Not Started (0/#{member.assigned})
												else
													td.text-right N/A

												td.text-nowrap.text-right.hidden-xs #{member._.lastLogin.format('MM/DD/YYYY')}
												
												td.text-center.text-nowrap
													a(href=`mailto:` + member.email) 
														span.glyphicon.glyphicon-envelope
													a(data-target='#modal', data-toggle='modal', data-user=member.id, data-role=(member.role? member.role._id: null)) 
														span.glyphicon.glyphicon-pencil
													a(data-target='#modal', data-toggle='modal', data-user=member.id, data-role=(member.role? member.role._id: null)) 
														span.glyphicon.glyphicon-cog
					.panel-footer.text-right
						a(data-target='#user', data-toggle='modal') Add participant
				.panel.panel-default
					.panel-heading Community Representation
					.panel-body
						p Modules lacking participants: 
						p Role Unrepresented: 
						.table-responsive
							table.table(id="modTable")
									thead
										tr
											th Module
											th Participants
											th Actions
									tbody
										td Name
										td # Participants
										td
											a(href='') 
												span.glyphicon.glyphicon-save


	script(type='text/javascript').
		userFormAssigner.setModuleMap(!{JSON.stringify(membersToModules)});
		userFormAssigner.setRolesMap(!{JSON.stringify(roleMap)});
		userFormAssigner.start();

	#modal.modal
		.modal-dialog
			.modal-content
				.modal-header
					h3.modal-title Update Assigned Modules and Roles
				.modal-body
					.hidden#modal-error
						+flash-message('Error updating modules based on role', 'danger')
					form(action="", method="post")
						.form-group
							h4 Role

							select.form-control(id="role", name="role")

								option(value="no-role") --- None ---

								each role, id in roleMap
									option(value=id) #{role.name}
							h4 Modules
							each mod, id in modMap
								.checkbox
									label
										input.checkbox-input(type="checkbox", value=id, name=mod)
										| #{mod}
							input(type="hidden", value="" name="userId" id="userId")
						button.btn.btn-primary.leftButton(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Update
	
	#user.modal
		.modal-dialog 
			.modal-content
				.modal-header
					h3.modal-title Add a Team Member
				.modal-body
					form(action="", method="POST")
						.form-group
							.form-group.row.modalFormRow
								.form-group.col-xs-6.modalFormColumnLeft
									input.form-control(type="text", name="first", placeholder="First Name", required="true")
								.form-group.col-xs-6.modalFormColumnRight
									input.form-control(type="text", name="last", placeholder="Last Name", required="true")
							.form-group
								input.form-control(type="email", name="email", placeholder="Email Address", required="true")
							.form-group
								input.form-control(type="text", name="affiliation", placeholder="Affiliation")
							.form-group.row
								.form-group.col-xs-6.modalFormColumnLeft
									input.form-control(type="password", name="password", placeholder="Password", required="true")
								.form-group.col-xs-6.modalFormColumnRight
									input.form-control(type="password", name="confirm", placeholder="Confirm Password", required="true")

						button.btn.btn-primary.leftButton(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Create User
