extends ../layouts/default

block content
	.container: .jumbotron
		if team
			h2 #{team.name} Team Folder
		else
			h2 Team Folder

		if team
			if isLeader
				h3 Your Team
				if members.length
					.container
						table.table
							tr
								th Name
								th Assigned Modules
								th Role
								th Email
								th Options
							each member in members
								tr
									td #{member.name.first} #{member.name.last}
									td #{member.modules}
									if member.roleName
										td #{member.roleName}
									else
										td None
									td
										a(href=`mailto:` + member.email) #{member.email}
									td
										button.btn.btn-primary.btn-xs(data-target='#modal', data-toggle='modal', data-user=member.id, data-role=member.role) Update User

	script(src='js/assign.js')
	script(type='text/javascript').
		userFormAssigner.setModuleMap(!{JSON.stringify(membersToModules)});
		userFormAssigner.start();

	#modal.modal
		.modal-dialog
			.modal-content
				.modal-header
					h3.modal-title Update Assigned Modules and Roles
				.modal-body
					form(action="", method="post")
						.form-group
							h4 Role
							select.form-control(id="role", name="role")
								option(value="no-role") --- None ---
								each role, id in roleMap
									option(value=id) #{role}
							h4 Modules
							each mod, id in modMap
								.checkbox
									label
										input.checkbox-input(type="checkbox", value=id, name=mod)
										| #{mod}
							input(type="hidden", value="" name="userId" id="userId")
						button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Update
