extends ../layouts/default

block content
	.container: .jumbotron
		if team
			h2 #{team.name} Team Folder
		else
			h2 Team Folder

		if team
			if isLeader
				div.row
					div.col-xs-1.col-xs-offset-10
						a.btn.btn-primary(href='/api/export/csv?teamId=' + user.team) Export Answers
				h3 Your Team
				if members.length
					.container
						.row.column-labels
							.col-sm-2 Name
							.col-sm-4 Assigned Modules
							.col-sm-3 Role
							.col-sm-3 Options
						each member in members
							.row
								.col-sm-2 #{member.name.first} #{member.name.last}
								.col-sm-4 #{member.modules}
								.col-sm-3 #{member.roleName}
								.col-sm-1
									a(href=`mailto:` + member.email) Email
								.col-sm-2
									a.test(data-target='#modal', data-toggle='modal', data-user=member.id) Assign Modules

	script(src='js/assign.js')
	script(type='text/javascript').
		moduleAssigner.setModuleMap(!{JSON.stringify(membersToModules)});
		moduleAssigner.start();

	#modal.modal
		.modal-dialog
			.modal-content
				.modal-header
					h3.modal-title Update Assigned Modules
				.modal-body
					form(action="", method="post")
						.form-group
							each mod, id in modMap
								.checkbox
									label
										input.checkbox-input(type="checkbox", value=id, name=mod)
										| #{mod}
							input(type="hidden", value="" name="userId" id="userId")
						button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
						button.btn.btn-primary(type='submit') Update
